# System ignores
.DS_store
Desktop.ini
._*
Thumbs.db

# Dev ignores
.idea
node_modules
npm-debug.log

# Artifacts ignores
src/*.js
index.js
*.map
*.d.ts
*.metadata.json
*.ngfactory.ts
*.ngsummary.json

# Reports
/lcov.info
/coverage/
